/**
 * Adoel Razman
 */

.icon,
.icon.normal {
	background-size: 150% !important;
	background-repeat: no-repeat;
	display: inline-block;
	width: 20px;
	height: 16px;
	background-position: 50% !important;
}

.icon.medium {
	width: 40px;
	height: 35px;
	/*background-position: -9px !important;*/
}

.icon.large {
	width: 54px;
	height: 46px;
	/*background-position: 1px !important;*/
}

/* New icons added */

.icon.acorn,
.icon.acorn.dark{
	background: url(../img/dark/appbar.acorn.png);
}

.icon.acorn.light{
	background: url(../img/light/appbar.acorn.png);
}

.icon.add,
.icon.add.dark{
	background: url(../img/dark/appbar.add.png);
}

.icon.add.light{
	background: url(../img/light/appbar.add.png);
}

.icon.adobe.acrobat,
.icon.adobe.acrobat.dark{
	background: url(../img/dark/appbar.adobe.acrobat.png);
}

.icon.adobe.acrobat.light{
	background: url(../img/light/appbar.adobe.acrobat.png);
}

.icon.adobe.aftereffects,
.icon.adobe.aftereffects.dark{
	background: url(../img/dark/appbar.adobe.aftereffects.png);
}

.icon.adobe.aftereffects.light{
	background: url(../img/light/appbar.adobe.aftereffects.png);
}





.icon.adobe.audition,
.icon.adobe.audition.dark{
	background: url(../img/dark/appbar.adobe.audition.png);
}

.icon.adobe.audition.light{
	background: url(../img/light/appbar.adobe.audition.png);
}

.icon.adobe.bridge,
.icon.adobe.bridge.dark{
	background: url(../img/dark/appbar.adobe.bridge.png);
}

.icon.adobe.bridge.light{
	background: url(../img/light/appbar.adobe.bridge.png);
}

.icon.adobe.dreamweaver,
.icon.adobe.dreamweaver.dark{
	background: url(../img/dark/appbar.adobe.dreamweaver.png);
}

.icon.adobe.dreamweaver.light{
	background: url(../img/light/appbar.adobe.dreamweaver.png);
}

.icon.adobe.encore,
.icon.adobe.encore.dark{
	background: url(../img/dark/appbar.adobe.encore.png);
}

.icon.adobe.encore.light{
	background: url(../img/light/appbar.adobe.encore.png);
}

.icon.adobe.fireworks,
.icon.adobe.fireworks.dark{
	background: url(../img/dark/appbar.adobe.fireworks.png);
}

.icon.adobe.fireworks.light{
	background: url(../img/light/appbar.adobe.fireworks.png);
}

.icon.adobe.flash,
.icon.adobe.flash.dark{
	background: url(../img/dark/appbar.adobe.flash.png);
}

.icon.adobe.flash.light{
	background: url(../img/light/appbar.adobe.flash.png);
}

.icon.adobe.flashbuilder,
.icon.adobe.flashbuilder.dark{
	background: url(../img/dark/appbar.adobe.flashbuilder.png);
}

.icon.adobe.flashbuilder.light{
	background: url(../img/light/appbar.adobe.flashbuilder.png);
}

.icon.adobe.illustrator,
.icon.adobe.illustrator.dark{
	background: url(../img/dark/appbar.adobe.illustrator.png);
}

.icon.adobe.illustrator.light{
	background: url(../img/light/appbar.adobe.illustrator.png);
}

.icon.adobe.indesign,
.icon.adobe.indesign.dark{
	background: url(../img/dark/appbar.adobe.indesign.png);
}

.icon.adobe.indesign.light{
	background: url(../img/light/appbar.adobe.indesign.png);
}

.icon.adobe.lightroom,
.icon.adobe.lightroom.dark{
	background: url(../img/dark/appbar.adobe.lightroom.png);
}

.icon.adobe.lightroom.light{
	background: url(../img/light/appbar.adobe.lightroom.png);
}

.icon.adobe.photoshop,
.icon.adobe.photoshop.dark{
	background: url(../img/dark/appbar.adobe.photoshop.png);
}

.icon.adobe.photoshop.light{
	background: url(../img/light/appbar.adobe.photoshop.png);
}

.icon.adobe.prelude,
.icon.adobe.prelude.dark{
	background: url(../img/dark/appbar.adobe.prelude.png);
}

.icon.adobe.prelude.light{
	background: url(../img/light/appbar.adobe.prelude.png);
}

.icon.adobe.premierpro,
.icon.adobe.premierpro.dark{
	background: url(../img/dark/appbar.adobe.premierpro.png);
}

.icon.adobe.premierpro.light{
	background: url(../img/light/appbar.adobe.premierpro.png);
}

.icon.adobe.speedgrade,
.icon.adobe.speedgrade.dark{
	background: url(../img/dark/appbar.adobe.speedgrade.png);
}

.icon.adobe.speedgrade.light{
	background: url(../img/light/appbar.adobe.speedgrade.png);
}